.form-container {
    display: flex;
    justify-content: center; 
    padding-top: 5%;      
  }
  
  form {
    width: 100%;
    max-width: 500px; 
  }

  ion-button{
    padding-top: 5%;
  }

  ion-input{
    border: 1px solid blue;
  }
  .custom-input{
    padding-top: 5%;
  }

  .app-title{
    text-align: center;
  }

  .center-icon{
    font-size: 4rem; 
    display: block;
    margin: 20px auto; 
    text-align: center;
  }
  