<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/inicio">
      Volver
    </ion-button>
    <ion-title>Nombre de usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <img src="https://github.com/Lucas-Barros04.png" alt="" style="border-radius: 50%; width: 20%;">
  <div style="display: inline-block; margin: 0 0 0 30%;">
    <p>post ?</p>
    <p>Seguidores ?</p>
    <p>Siguiendo ?</p>
  </div>
  <p style="margin-top: 2%;">Nombre apellido</p>
  <p>Bios:</p>
  <ion-button expand="block">Editar perfil</ion-button>
  <hr>
</ion-content>
