<!-- carrusel de usuario-->
<swiper-container class="swiper-container" slides-per-view="4" space-between="10" loop="true"> <!-- Cambia a 0 para que estén pegadas -->
  <ng-container *ngFor="let usuario of usuarios">
    <swiper-slide class="swiper-slide">
      <div class="image-container">
        <img [src]="usuario.imagen" alt="{{ usuario.nombre }}" />
      </div>
      <div class="usuario-info">
        <p>{{ usuario.nombre }}</p>
      </div>
    </swiper-slide>
  </ng-container>
</swiper-container>
<!-- Separador -->


