// src/app/component/trajeta/trajeta.component.scss
:host {
  display: block; // Asegura que el componente ocupe todo el ancho disponible
  border: 1px solid #ccc; // Borde ligero para la tarjeta
  border-radius: 8px; // Bordes redondeados
  padding: 16px; // Espaciado interno
  background-color: #fff; // Fondo blanco
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil
  transition: box-shadow 0.3s; // Transición suave para la sombra

  max-width: 800px; // Establece un ancho máximo
  max-height: 900px; // Establece una altura máxima
  min-width: 600px; // Establece un ancho mínimo
  min-height: 350px; // Establece una altura mínima
}

:host:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra más intensa al pasar el mouse
}

.image-container {
  text-align: center; // Centra la imagen
  margin-bottom: 12px; // Espaciado debajo de la imagen
}

.image-container img {
  width: 100px; // Ajusta el tamaño de la imagen
  height: 100px; // Ajusta el tamaño de la imagen
  border-radius: 50%; // Hace que la imagen sea circular
  object-fit: cover; // Asegura que la imagen cubra el área sin distorsionarse
}

.text-container {
  text-align: left; // Alinea el texto a la izquierda
}

h2 {
  font-size: 1.2rem; // Tamaño del título
  margin: 0; // Sin margen
  color: #333; // Color del texto
}

h3 {
  font-size: 1rem; // Tamaño del subtítulo
  margin: 0; // Sin margen
  color: #666; // Color del texto
}

p {
  font-size: 0.9rem; // Tamaño de la descripción
  color: #555; // Color del texto
}
