<ion-card *ngIf="tarjetas.length > 0">
  <img alt="Descripción de la imagen" [src]="tarjetas[currentIndex].imagen.url" class="card-image" /> <!-- Agrega la clase aquí -->
  <ion-card-header>
    <ion-card-title>{{ tarjetas[currentIndex].titulo }}</ion-card-title>
    <ion-card-subtitle>{{ tarjetas[currentIndex].subtitulo }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ tarjetas[currentIndex].descripcion }}
  </ion-card-content>
</ion-card>

<ion-button (click)="nextCard()">Siguiente</ion-button>
