<ion-header>
  <ion-toolbar>
    <ion-title>ChromaConnect</ion-title>
  </ion-toolbar>
</ion-header>
<hr>
<ion-content>
  <app-carrusel/>
</ion-content>

<ion-content class="ion-padding">
  <app-trajeta
    [imagen]="{ url: 'https://example.com/image.png' }"
    titulo="Título de la Tarjeta"
    subtitulo="Subtítulo de la Tarjeta"
    descripcion="Descripción de la tarjeta aquí.">
  </app-trajeta>
</ion-content>






<ion-content class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search-outline"></ion-icon>
        Buscar
      </ion-tab-button>
      <ion-tab-button tab="person" routerLink="/perfil">
        <ion-icon name="person-outline"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
